body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	color: #777;
}
::-webkit-scrollbar {
	width: 0px;
	background: trasparent;
}
.bgimgFirst {
	position: relative;
	opacity: .65;
	background: no-repeat center center fixed;
	height: 100%;
	background-size: cover;
}
.bgimg {
	position: relative;
	opacity: .65;
	background: no-repeat center center fixed;
	height: 80%;
	background-size: cover;
}
.bgimgLast{
	opacity: .65;
	background: no-repeat center center fixed;
	height: 100%;
	background-size: cover;
}
h1{
	text-align: center
}
.caption {
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	text-align: center;
	color: #999999;
}
.caption span.border {
	margin: 0 0 0 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	background-color: #4d4d4d;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
	line-height: 3;
}
a:link{
	font-weight: bold;
	color: #fff;
}
a:visited{
	/*4d4d4d4d*/
	color: #999999;
}

.text{
	background-color: #4d4d4d;
	position: relative;
	z-index: 10;
	padding: 10px 100px; 
	margin: 0 0 0 0; 
	color: white;
}